## 📝 Histórico de Revisões
| Versão | Data | Descrição | Autor |
| :--- | :--- | :--- | :--- |
{%- set last_rev = revisions[-1] if revisions else {} -%}
| {{ last_rev.version | default('-') }} | {{ last_rev.date | default('-') }} | {{ last_rev.description | default('-') }} | {{ last_rev.author | default('-') }} |

## 🆔 Identificação
| Campo | Descrição |
| :--- | :--- |
| **Projeto** | {{ identification.projeto | default('-') }} |
| **Requisitante** | {{ identification.requisitante | default('-') }} |
| **Gerente de Projetos** | {{ identification.gerente | default('-') }} |
| **Tema** | {{ identification.tema | default('-') }} |
| **Épico** | {{ identification.epico | default('-') }} |
| **Feature** | {{ identification.feature | default('-') }} |

## 📖 {{ title }}
{{ user_story }}

## 🔗 Referências
{{ references | default('-') }}

---
*Gerado automaticamente em {{ generated_at }}*
