name: Process List to Issues

on:
  workflow_dispatch:
  push:
    paths:
      - "lista_HU.txt"

permissions:
  issues: write
  contents: write
  repository-projects: write

jobs:
  process-list:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Bot GitHub Actions
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt
          pip install git-filter-repo

      - name: Run List Processor (Create Issues)
        env:
          GH_TOKEN: ${{ secrets.GH_PAT || secrets.GITHUB_TOKEN }}
        run: |
            python scripts/main.py --source list --path lista_HU.txt --update
